
@{
    Layout = null;
}


<!DOCTYPE html>
<html lang="en">
<head>
    <title>Kullanıcı Girişi</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!--===============================================================================================-->
    <link rel="icon" type="image/png" href="~/LoginScripts/Scriptler/images/icons/favicon.ico" />
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/LoginScripts/Scriptler/vendor/bootstrap/css/bootstrap.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/LoginScripts/Scriptler/fonts/font-awesome-4.7.0/css/font-awesome.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/LoginScripts/Scriptler/fonts/iconic/css/material-design-iconic-font.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/LoginScripts/Scriptler/vendor/animate/animate.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/LoginScripts/Scriptler/vendor/css-hamburgers/hamburgers.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/LoginScripts/Scriptler/vendor/animsition/css/animsition.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/LoginScripts/Scriptler/vendor/select2/select2.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/LoginScripts/Scriptler/vendor/daterangepicker/daterangepicker.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/LoginScripts/Scriptler/css/util.css">
    <link rel="stylesheet" type="text/css" href="~/LoginScripts/Scriptler/css/main.css">
    <!--===============================================================================================-->
</head>
<body>
    <div class="limiter">
        <div class="container-login100" >
            <div class="wrap-login100 p-l-55 p-r-55 p-t-65 p-b-54">
                <form method="post" class="login100-form validate-form">
                    <span class="login100-form-title p-b-49">
                        Hoş Geldiniz
                    </span>

                    <div class="wrap-input100 validate-input m-b-23" >
                        <span class="label-input100">Kullanıcı</span>
                        <input class="input100" type="text" name="KullanıcıAdi" placeholder="Kullanıcı adını giriniz">
                        <span class="focus-input100" data-placement="Kullanıcı Adı" data-symbol="&#xf206;"></span>
                    </div>

                    <div class="wrap-input100 validate-input" >
                        <span class="label-input100">Şifre</span>
                        <input class="input100" type="password" name="Sifre" placeholder="Şifrenizi giriniz">
                        <span class="focus-input100" data-placement="Şifre" data-symbol="&#xf190;"></span>
                    </div>

                    <div class="text-right p-t-8 p-b-31">
                        <a href="~/Kullanıcılar/ResetPassword/">
                            Şifrenizi mi unuttunuz?
                        </a>
                    </div>

                    <div class="container-login100-form-btn">
                        <div class="wrap-login100-form-btn">
                            <div class="login100-form-bgbtn"></div>
                            <button class="login100-form-btn">
                                Giriş
                            </button>
                        </div>
                    </div>
           
                    <div class="container-login100-form-btn">
                        @if (ViewBag.hata!=null)
                         {
                            <p class="text-danger">@ViewBag.hata</p>
                         }
                    </div>
                    <div class="text-danger p-t-155">
                        <span class="txt1">
                            Hesabınız Yok Mu?
                        </span>

                        <a class="txt2" href="~/Kullanıcılar/Kayıt/" >
                            Kayıt olma
                        </a class="txt2">
                    </div>
                </form>
            </div>
        </div>
    </div>


    <div id="dropDownSelect1"></div>

    <!--===============================================================================================-->
    <script src="~/LoginScripts/Scriptlervendor/jquery/jquery-3.2.1.min.js"></script>
    <!--===============================================================================================-->
    <script src="~/LoginScripts/Scriptlervendor/animsition/js/animsition.min.js"></script>
    <!--===============================================================================================-->
    <script src="~/LoginScripts/Scriptlervendor/bootstrap/js/popper.js"></script>
    <script src="~/LoginScripts/Scriptlervendor/bootstrap/js/bootstrap.min.js"></script>
    <!--===============================================================================================-->
    <script src="~/LoginScripts/Scriptlervendor/select2/select2.min.js"></script>
    <!--===============================================================================================-->
    <script src="~/LoginScripts/Scriptlervendor/daterangepicker/moment.min.js"></script>
    <script src="~/LoginScripts/Scriptlervendor/daterangepicker/daterangepicker.js"></script>
    <!--===============================================================================================-->
    <script src="~/LoginScripts/Scriptlervendor/countdowntime/countdowntime.js"></script>
    <!--===============================================================================================-->
    <script src="~/LoginScripts/Scriptlerjs/main.js"></script>

</body>
</html>